.mainContainer{
  min-height: 80vh;
  background: white;
  /* display: block; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}
.wrappers,
.wrappers .img-area,
.social-icons a {
  background: whitesmoke;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}

.wrappers {
  position: relative;
  height: 297px;
  margin: 10px;
  margin-top: 15px;
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  display: inline-flex;
  margin-left: 5%;
  margin-bottom: 2%;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.wrappers .icon {
  font-size: 17px;
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
  top: 15px;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 16px;
}
.wrappers .img-area {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-area .inner-area {
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  border-radius: 50%;
}
.inner-area .proCardPic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.wrappers .dname {
  font-size: 23px;
  font-weight: 500;
  color: #38d16a;
  margin: 10px 0 5px 0;
}
.wrappers .about {
  color: rgba(0, 0, 0, 0.918);
  font-weight: 400;
  font-size: 16px;
}
.wrappers .location{
  padding-top: 3px;
}
.wrappers .social-icons {
  margin: 15px 0 25px 0;
}
.social-icons a {
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
}
.social-icons a:hover::before,
.wrappers .icon:hover::before,
.buttons button:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}
.buttons button:hover:before {
  z-index: -1;
  border-radius: 5px;
}
.social-icons a i {
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 45px;
}
.social-icons a.fb i {
  color: #4267b2;
}
.social-icons a.twitter i {
  color: #1da1f2;
}
.social-icons a.insta i {
  color: #e1306c;
}
.social-icons a.email i {
  color: #ff0000;
}

@media screen and (max-width : 768px){
  .wrappers{
    display: inline-flex;
    justify-content: center;
    margin-left: 12px ;
  }

  .mainContainer{
    justify-content: center;
    margin-left: 70px;
  }
}

@media screen and (max-width:480px) {
  section{
    margin-left: 9%;
  }
}